workerPoolSpecs:
    machineSpec:
        machineType: n1-standard-8
        acceleratorType: NVIDIA_TESLA_T4
        acceleratorCount: 1
    replicaCount: 1
    containerSpec:
        imageUri: europe-west1-docker.pkg.dev/dtumlops-484016/my-container-repository/ml-ops-proj-instance:latest
        # This image was automatically built and pushed to Artifact Registry
        # using the cloudbuild.yaml file in the GCP folder.
