# TODO: complete further

# On push:
# - run tests
# - if they pass, continue
# - build cloud.dockerfile into container image
# - push container image to Artifact Registry
# - trigger Vertex AI training job using the new container image
#
# This is an alternative to setting up a Trigger in GCP that listens to
# git pushes and automatically runs the cloudbuild.yaml file.

name: GCP CI/CD Pipeline

on:
  # only manual triggers to reduce resource consumption on GCP
  workflow_dispatch: {}


jobs:
  # Dummy test job
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Run tests
      run: echo "Running tests..."  # Replace with actual test commands

  build:
    needs: test # only continue if tests pass
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Auth with GCP
      uses: ./.github/actions/setup-gcp-dvc
      with:
        # This is the JSON file from GCP. It was added to the GitHub secrets as 'GCLOUD_SERVICE_KEY'.
        GCLOUD_SERVICE_KEY: ${{ secrets.GCLOUD_SERVICE_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v3

    - name: Submit build
      run: gcloud builds submit . --config GCP/cloudbuild.yaml --substitutions=_IMAGE_NAME="ml-ops-proj-instance"

    - name: Trigger Vertex AI Training Job
      run: |
        echo "Triggering Vertex AI Training Job..."
        gcloud builds submit . --config GCP/vertex_ai_train.yaml

    - name: Stop instance
      run: |
        echo "Stopping GCP instance..."
        gcloud compute instances stop ml-ops-proj-instance --zone=europe-west4-a