name: Code linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

        # Use our custom action to avoid code duplication
      - name: Set up Python and dependencies
        uses: ./.github/actions/setup-python
        with:
          python-version: "3.12"

      - name: ruff check
        run: uv run ruff check .

      - name: ruff format
        # auto-fail if code is not formatted correctly
        run: uv run ruff format --check .
