name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

        # Use our custom action to avoid code duplication
      - name: Set up Python and dependencies
        uses: ./.github/actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      # Use our other custom action to avoid code duplication
      - name: Auth with GCP for DVC
        uses: ./.github/actions/setup-gcp
        with:
          GCLOUD_SERVICE_KEY: ${{ secrets.GCLOUD_SERVICE_KEY }}
          install_gcloud: "false"

      - name: Pull DVC data from GCP bucket
        run: uv run dvc pull

      - name: Run tests & coverage
        run: |
          uv run coverage run -m pytest tests/ --timeout=30
          uv run coverage report -m
        env:
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
          WANDB_PROJECT: ${{ secrets.WANDB_PROJECT }}
          WANDB_ENTITY: ${{ secrets.WANDB_ENTITY }}
